/* 12. position 숙제 & 반응형 width & box - sizing */
div {
    box-sizing : border-box;
}

body {
    margin : 0px;
    font-family : "Gugi", sans-serif;
}

/* 검색키워드 : normalize.css */

@font-face {
    font-family : "Gugi", sans-serif;
    font-weight : 800;
    src : url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

}


.main-background {
    width : 100%;
    height : 800px;
    background-image: url(../img/shoes.jpg);  /* url 여러개 써서 겹치기도 가능 */
    /* background-size : cover; : 배경이 짤려도 상관없으니 빈 공간 없이 배경으로 꽉 채워라 */
    /* background-size : contain; : 배경이 짤리지 않게 꽉 채워주세요 */
    background-size : cover;
    background-repeat : no-repeat;
    background-position : center;
    background-attachment : fixed; /* 스크롤 시 배경 위치 조정 가능 */
    filter : brightness(100%);
    padding : 1px;
    position : relative;
    /* position : absolute 내 부모 태그 중에 position : relative 가진 부모 기준 */
}

.main-title {
    color : white;
    font-size : 80px;
    margin-top : 10px;
    margin-bottom : 0px;
    padding-left: 50px;
}

.main-content {
    color : white;
    font-size : 30px;
    padding-left: 50px;
}

.main-button {
    padding : 15px;
    font-size : 20px;
    background : white;
    border : none;
    position : absolute; /* position을 부여하면 좌표 이동 가능 */
    /* position : absolute 준 요소 가운데 정렬하려면 */
    left : 0;
    right : 0;
    margin : auto;
    width : 150px;

    bottom : 100px;

    z-index : 10;
}

p {
    margin-top : 40px;
    margin-bottom : 40px;
}

a:link {
    color : brown;
}

a:visited {
    color : black;
}

.bottom-content {
    background : #eee;
    background-position : center;
    left : 0;
    right : 0;
    margin : auto;
    width : 900px;
    text-align : center;
    padding : 1px;

    position : relative;
    top : -50px;

    z-index : 5;

    width : 80%; /* 부모 width의 80% */
    max-width : 900px;
    min-width : 600px;

    /* width가 padding, border를 포함함 */
    box-sizing : border-box;
}


.bottom-content-content {
    margin : 20px;
}

p, h4, h3, h2, h1, span {
    transform : rotate(0.05deg)
}

.navbar {
    display : flex;
    height : 100px;
    align-items : center;
    background-color : pink;
}

.navbar-box {
    width : 200px;
    
    background-color : pink;
    /* align-items : center; */
}

.test {
    /* width : 100px; */
    /* width : 10rem; */
    width : 50vw;
    height : 30vh;
    background : grey;
}



.product-container {
    /* display : flex; */
    width : 80%;
    max-width : 1000px;
    margin : auto;
    margin-top : 50px;
    margin-bottom : 50px;
    background-color : pink;
}

.product-container div { 
    float : left;
    width : 25%;
    background-color : pink;
    text-align: center;
}

@media screen and (max-width : 1200px) {
    .main-title {
        font-size : 100px;
    }
    .product-container {
        max-width: 600px;
    }
    .product-container div {
        width : 50%;
    }
}

@media screen and (max-width : 768px) {
    .main-title {
        font-size : 200px;
    }
    .product-container div {
        width : 100%;
    }
}
