.flex-container {
    display : flex;
    /* flex-direction : column; */
    /* flex-wrap : wrap; */
    height : 500px;
    align-items : center;
}

.flex-item {
    width : 200px;
    height : 100px;
    background-color : grey;
    margin : 5px;
}