/* 12. position 숙제 & 반응형 width & box - sizing */
div {
    box-sizing : border-box;
}

body {
    margin : 0px;
    background : black;
}

/* 검색키워드 : normalize.css */

.main-form {
    background : white;
    width : 400px;
    max-width : 400px;
    min-width : 200px;
    height : 500px;

    position : fixed;
    margin : 0 auto;
    margin-top : 100px;
    left : 0;
    right : 0;

    padding : 30px;
}

.text-input {
    padding : 20px;
    font-size : 20px;
    border : 2px solid yellow;
    border-radius: 5px;
}

input[type = email] {
    padding : 1px;
    font-size : 20px;
    border : 1px solid #eee;
    border-radius: 5px;
    width : 100%;
}

input[type = text] {
    padding : 1px;
    font-size : 20px;
    border : 1px solid #eee;
    border-radius: 5px;
    width : 100%;
}

.sub-form-email-title {
    display : block;
    width : 100%;
    margin-top : 10px;
    margin-bottom : 10px;
}

.sub-form-First-name{
    float : left;
    width : 45%;
    margin-top : 10px;
    margin-bottom : 10px;
}

.sub-form-Last-name {
    float : right;
    width : 45%;
    margin-top : 10px;
    margin-bottom : 10px;
}

.sub-form-Message {
    height : 200px;
}

input[type = text-message] {
    padding : 1px;
    font-size : 20px;
    border : 1px solid #eee;
    border-radius: 5px;
    width : 100%;
    height : 100px;
}

.sub-form-button-subcribe {
    float : left;
    position : relative;
    top : 5px;

}

.sub-form-button-send {
    float : right;
}

button[type = submit] {
    font-size : 20px;
    background : yellow;
    width : 140px;
}

