.container {
    width : 800px;
    margin-left: auto;
    margin-right: auto;
}

.blog-content {
    width: 70%;
    height: 200px;
    background: #eee;
    float: left;
}

.blog-img {
    width: 30%;
    height: 200px;
    background: yellow;
    float: left;
}

.blog-profile {
    width: 50px;
    float: left;
}

.blog-name {
    float: left;
}