.container {
    width : 800px;
}

.container-left {
    width : 80%;
    height : 180px;
    background-color : aquamarine;
    float : left;
}

.container-left-header {
    height : 30%;
    background-color : red;
}

.container-left-header-leftPic {
    width : 10%;
    background-color : black;
}

.container-left-body {
    height : 60%;
    background-color : green;
}

.container-left-footer {
    height : 10%;
    background-color : grey;
}

.container-right {
    width : 20%;
    height : 180px;
    background-color : yellow;
    float : right;
    
}